@import 'node_modules/nord/src/sass/nord.scss';
.hero {
  width: 100%;
  min-height: 100vh;
  background-image: url('../../assets/hero.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;

  .hero__article {
    min-height: 100vh;
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .hero__title {
      font-weight: bold;
      font-size: 4rem;
    }
    .hero__subtitle {
      font-size: 1.5rem;
      font-weight: lighter;
      letter-spacing: 0.1rem;
    }
    .hero__buttons {
      button {
        &:first-child {
          background-color: transparent;
          border: 2px solid $nord8;
        }
        &:last-child {
          background-color: $nord10;
        }
      }
    }
  }
}
