@import 'node_modules/nord/src/sass/nord.scss';
.target{
    width: 12rem;
    padding-bottom: 1rem;
    border-radius: .2rem;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    
    figure{
        width: 100%;
        img{
            height: 270px;
            width: 100%;
            object-fit: cover;
        }
    }
    h2{
        margin-top:1rem
    }
}