@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'node_modules/nord/src/sass/nord.scss';
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
}

body {
  background-color: $nord2;
  color: $nord6;
}
.search-container {
  background-image: url('../assets/search.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
}
